studySpring/src/main/resources/META-INF/label.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.carlos.com/schema/label"

        elementFormDefault="qualified">

    <element name="label">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="name" type="string"/>
            <attribute name="height" type="string"/>
            <attribute name="sex" type="string"/>
        </complexType>
    </element>

</schema>